body{
    position: relative;
    margin: 0 auto;
    padding: 0; 
    font-family: Arial, sans-serif;
}
.topo{
    border: 1px solid #c9c6c6;
    background-color: rgb(221, 219, 219);
    width: 100%;
    display:flex;
    align-items: center;

}
.menu ul{
    display: flex;
    list-style: none;
    margin-left: 180%;
    padding: 0;
    gap:25px;
}
h1{
    margin-left: 20px;
}
p{
    margin-left: 20px;
}
fieldset{
    position: relative;
    width: 90vw;
    height: 25vw;
    border: 2px solid #c9c6c6;
    border-radius: 30px;
    padding-top: 5%;
    padding-bottom: 25px;
    text-align: center;
    font-size: 14pt;
    margin: 0 auto;
    margin-top: 40px;
}
#email{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14pt;
}
legend{
    font-size: 18pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
}
input{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:justify;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: -50px;
    width: 30vw;
    height: 5vw;
}
button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(221, 219, 219);
    cursor: pointer;
}
footer{
    position: relative;
    margin-top: 80px;
    text-align: center;
    background-color: #979494;
    bottom:0;
}
.icones{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3px, 1fr));
    margin-left: 290px;
}
.icones img{
    position: relative;
    width: 10px;
    height: 15px;
    cursor: pointer;
}
.midia figcaption{
    background: rgba(0, 0, 0, 0.6);
    color: white;
    width: 270px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
    justify-items: center;
    font-size: 10pt;
}
.midia:hover figcaption{
    opacity: 1;
    margin: auto;
}
#meio{
    margin-left: -1000px;
}
#meio1{
    margin-left: 200px;
}
#meio2{
    margin-left: -100px;
}
#meio3{
    margin-left: -300px;
}
#yt{
    justify-content: center;
    text-align: center;
    margin-left: -300%;
}
#fb{
    margin-left: 30%;
}
#ins{
    margin-left: -40%;
}
#tw{
    margin-left: -100%;
}