body{
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    align-items: center;
    padding-left: 3%;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.top{
    border: 1px solid #c9c6c6;
    background-color: #cccbcb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    padding: 10px 10px;
}
.menu ul{
    position: relative;
    display: flex;
    list-style: none;
    gap:25px;
    margin:0 0 20px 10px;
}
.funcoes{
    position: relative;
    border-radius: 20px;
    background-color: rgb(202, 200, 200);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
    width: 150px;
    height: 350px;
    padding: 15px 0 0 10px;
    left: 30px;
}
.tipo1, .tipo2, .tipo3, .tipo4{
    position: relative;
    width: 120px;
    height: 50px;
    border: 2px solid #fffcfc;
    border-radius: 8px;
    padding: 10px 0 0 10px;
} 
.informacoes{
    border: 1px solid #979494;
    border-bottom: 0cm;
    border-top: 0cm;
    border-right: 0cm;
    top:10px; 
    width: 350px;
    height: 250px;
    font-size: 14pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 250px;
    margin-top: -320px;
    text-align: justify;
}
main{
    position: relative;
    top:40px;
    justify-content: center;
    text-align: justify;
    align-items: center;
    max-width: 100%;
}
.slider{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 96%;
    max-width: 700px;
    height: 400px;
    margin-left: 630px;
    margin-top: -320px;
    gap:5px;
}
.slides{
    display: flex;
    width: 700%;
    height: 100%;
    animation: slideAnimation 15s infinite;
    transition: transform 1s ease-in-out;
}
.slide{
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    
}
.slide img{
    width: 100%;
    height:400px;
    object-fit: cover;
    cursor: pointer;
}
img{
    width: 250px;
    height: 250px;
}
.legenda figcaption{
    position: absolute;
    top: 15px;
    color: white;
    background-color: #0000009d;
    width:88.4%;
    height: 500px;
    padding: 0 0 0 10px;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.5s;
}
.legenda:hover figcaption{
    opacity: 2;
    pointer-events: none;
}
@keyframes slideAnimation{
    0%{transform: translateX(0%);}
    14%{transform: translateX(0%);}
    16%{transform: translateX(-100%);}
    30%{transform: translateX(-100%);}
    32%{transform: translateX(-200%);}
    46%{transform: translateX(-200%);}
    48%{transform: translateX(-300%);}
    62%{transform: translateX(-300%);}
    64%{transform: translateX(-400%);}
    78%{transform: translateX(-400%);}
    80%{transform: translateX(-500);}
    94%{transform: translateX(-500%);}
    96%{transform: translateX(-600%);}
    100%{transform: translateX(-600%);}
}
footer{
    position: relative;
    margin-top: 80px;
    text-align: center;
    background-color: #979494;
    bottom:0;
}
.icones{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3px, 1fr));
    margin-left: 290px;
}
.icones img{
    position: relative;
    width: 10px;
    height: 15px;
    cursor: pointer;
}
.midia figcaption{
    background: rgba(0, 0, 0, 0.6);
    color: white;
    width: 270px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
    justify-items: center;
}
.midia:hover figcaption{
    opacity: 1;
    margin: auto;
}
#meio{
    margin-left: -1000px;
}
#meio1{
    margin-left: 200px;
}
#meio2{
    margin-left: -100px;
}
#meio3{
    margin-left: -300px;
}
#yt{
    justify-content: center;
    text-align: center;
    margin-left: -300%;
}
#fb{
    margin-left: 30%;
}
#ins{
    margin-left: -40%;
}
#tw{
    margin-left: -100%;
}