body{
    margin: 0 auto;
    padding: 0;
    font-family: Arial, sans-serif;
    background-attachment: fixed;
    background-color: #eceaea;
}
.topo{
    border: 1px solid #c9c6c6;
    background-color: rgb(221, 219, 219);
    width: 100%;
    display:flex;
    align-items: center;
    padding: 10px 50px;
}
.paragrafos p{
    font-size: 14pt;
}
.menu ul{
    display: flex;
    list-style: none;
    margin-left: 250%;
    padding: 0;
    gap:25px;
}
main{
    margin: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.div.paragrafos{
    margin-top: 20px;
    font-size: 14pt;
    line-height: 1.6;
}
strong{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

footer{
    position: relative;
    margin-top: 180px;
    text-align: center;
    background-color: #979494;
    bottom:0;
}
.icones{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3px, 1fr));
    margin-left: 290px;
}
.icones img{
    position: relative;
    width: 10px;
    height: 15px;
    cursor: pointer;
}
.midia figcaption{
    background: rgba(0, 0, 0, 0.6);
    color: white;
    width: 270px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
    justify-items: center;
    font-size: 12pt;
}
.midia:hover figcaption{
    opacity: 1;
    margin: auto;
}
#meio{
    margin-left: -1000px;
}
#meio1{
    margin-left: 200px;
}
#meio2{
    margin-left: -100px;
}
#meio3{
    margin-left: -300px;
}
#yt{
    justify-content: center;
    text-align: center;
    margin-left: -300%;
}
#fb{
    margin-left: 30%;
}
#ins{
    margin-left: -40%;
}
#tw{
    margin-left: -100%;
}
p{
    font-size: 10pt;
}